@{
    ViewData["Title"] = "Hakkımızda";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<CustomUser> SignInManager
@inject UserManager<CustomUser> UserManager
<div class="jumbotron mt-5 shadow">
    <h1 class="display-4">Biz Kimiz?</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
        @if (!SignInManager.IsSignedIn(User))
        {
            <a class="btn btn-outline-dark btn-lg float-right" asp-area="Identity" asp-page="/Account/Register" role="button">Üye Olun...</a>
        }
        else
        {
            <a class="btn btn-outline-dark btn-lg float-right" asp-controller="Home" asp-action="Sahiplenme" role="button">Şimdi Sahiplenin...</a>
        }

    </p>
</div>